@import '../../styles/variables.scss';

.division-work-schedule-block {
  display: flex;
}

.calendar-form-title {
  margin-bottom: 10px;
}

.calendar-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 20px;

  .rmdp-shadow {
    margin-right: 30px;
  }
}

.calendar-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.saved-data {
  width: 40%;

  p {
    color: $color-black;
  }
}

.calendar {
  height: 320px;
}

.divisions-select-control {
  width: 220px !important;
  height: 56px !important;
  margin-right: 30px !important;
}

.divisions-select {
  background-color: $color-white !important;

  &.Mui-focused .MuiOutlinedInput-notchedOutline {
    color: $color-link-active !important;
  }
}

.calendar-form-button {
  height: 50px !important;
  width: 120px !important;
  color: $color-black !important;
  background-color: $color-white !important;

  &:hover {
    cursor: pointer;
  }

  &.Mui-disabled {
    border: 1px solid rgb(20 5 5 / 35%) !important;
    background-color: rgb(122, 120, 120) !important;
  }
}

.error-message-container {
  height: 20px;
  margin-bottom: 15px;
}

.error-message {
  color: $color-red;
  padding-left: 20px;
  text-align: center;
  margin: 0;
}

.saved-data-container {
  display: flex;
  justify-content: space-between;
}

.icon-delete {
  &:hover {
    cursor: pointer;
  }
}

@media all and (max-width: 1140px)  {
  .division-work-schedule-block {
    flex-direction: column;
  }

  .saved-data {
    width: 75%;
  }
}
