@import '../../styles/variables.scss';

.fuel-report-calendar-block {
  background-color: $color-white;
  border: 1px solid #d3cece;
  border-radius: 8px;
}

.fuelWorkCardInput {
  height: 40px !important;
  min-width: 100px;
  text-align: 'center';
}

.fuelWorkCardInputLabel {
  font-size: 16px;
  margin-bottom: 5px;
}

.accordion {
  border-radius: 8px;
}

.accordionItem {
  background-color: $color-white;
  border: 1px solid #d3cece;
  border-radius: 8px;
}

.accordionControl {
  border-bottom: 1px solid #d3cece;
}

.calendar-form-title {
  margin-bottom: 10px;
}

.saved-data {
  width: 40%;

  p {
    color: $color-black;
  }
}

.calendar {
  height: 320px;
  z-index: 1 !important;
}

.error-message-container {
  height: 20px;
  margin-bottom: 15px;
}

.error-message {
  color: $color-red;
  padding-left: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.saved-data-container {
  display: flex;
  justify-content: space-between;
}

.icon-delete {
  &:hover {
    cursor: pointer;
  }
}

.fuel-report-calendar {
  legend {
    float: right !important;
  }
}
