@import '../../styles/variables.scss';

.header {
  position: fixed;
  width: 100%;
  height: 10vh;
  padding-top: 2vh;
  background-color: $background-color-dark;
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 50px;
  height: 50px;
  background-image: url('../../assets/icons/logo.png');
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  a {
    margin: 0 2%;
    text-decoration: none;
    color: $color-white;
  }
}

.report-type-select {
  .MenuItem {
    color: $color-black !important;
  }

  .MuiOutlinedInput-notchedOutline {
    border: none !important;
  }
  
  .MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input.MuiSelect-select {
    text-overflow: inherit !important;
    color: $color-white !important;
  }
  
  .MuiSelect-icon,
  .MuiSelect-iconOpen {
    color: $color-white !important;
  }
}

.logout-link {
  display: flex;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  svg {
    fill: $color-white;
    width: 25px;
    height: 25px;
    margin-left: 10px;

    &:hover {
      fill: #007bff;
    }
  }

  p {
    margin: 0;
  }
}
