body {
  background: url('https://localhost:5001/images/bg1920.jpg') no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  body {
    background: url('https://localhost:5001/images/bg1024.jpg') no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 470px) {
  body {
    background: url('https://localhost:5001/images/bg470.jpg') no-repeat;
    background-size: cover;
  }
}
