@import '../../styles/variables.scss';

.report-page-section {
  position: relative;
  min-height: 90vh;
  background-color: $background-color-light-gray;
  padding: 1vh 10px;

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.report-page-navigation {
  display: flex;
  height: 40px;
}

.report-block {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 350px;
  height: 250px;
  background-color: $background-color-white;
}
