@import '../../styles/variables.scss';

.report-page-section {
  min-height: 90vh;
  background-color: $background-color-light-gray;
  padding: 1vh 10px;

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.report-page-navigation {
  display: flex;
  height: 40px;
}
