.tableHeadCell {
  padding: 15px;
  background-color: var(--mantine-color-cyan-filled);
  color: var(--mantine-color-body);
}

.tableBodyCell {
  padding: 15px;
}

.tableFooter {
  border-top: 1px solid var(--mantine-color-gray-filled-hover);
}
