html,
body,
#root {
  height: 100%;
}

.section-login {
  height: 90vh;
  background-color: rgba(17, 68, 96, .5);
}

.login-container {
  position: relative;
  left: 50%;
  top: 50%;
  width: 400px;
  min-width: 300px;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  border-radius: 0.3rem;
}

.login-form {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
