.tableHeadCell {
  padding: 15px !important;
  background-color: var(--mantine-color-cyan-filled) !important;
  color: var(--mantine-color-body);
  font-weight: 700;
  font-size: 16px;
}

.tableRow .tableBodyCell  {
  padding: 15px !important;
}
