.MuiListItemIcon-root {
  min-width: 30px !important;
}

.dialog {
  position: absolute;
  width: 200px;
  height: 150px;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 70%) 0px 0px 20px 4px;
}
