@import '../../styles/variables.scss';

.modal-select-container,
.modal-button-container {
  display: flex;
}

.modal-select-container {
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal-button-container {
  justify-content: flex-end;
  margin-top: 15px;
}

.modal-button {
  margin-left: 10px !important;
}

.material-number {
  width: 70px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 4px;
  box-sizing: border-box;

  &:focus-visible {
    outline: 1px solid $color-black;
  }

  &:hover {
    border-color: rgba(0, 0, 0, 0.87);
  }
}

.number-error {
  border-color: $color-red;

  &:focus-visible {
    outline-color: $color-red;
  }

  &:hover {
    border-color: $color-red;
  }
}
