@import './variables.scss';

html,
body,
#root {
  height: 100%;
}

#root {
  position: relative;
}

body {
  background-color: $background-color-white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;

  p {
    color: $color-white;
  }

  a.active {
    color: $color-link-active;
    text-decoration: underline;
  }
}

.wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

main {
  min-height: 100vh;
  padding-top: 10vh;
  box-sizing: border-box;
  background-image: url('../assets/bg/bg-home.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-title {
  margin-bottom: 15px !important;
  text-align: center;
}