//background
$background-color-dark: #1e1d1d;
$background-color-dark-gray: #797474;
$background-color-light-gray: #b9b7b7;
$background-color-white: #f7f7f7;

//colors
$color-white: #fff;
$color-black: #000;
$color-link-active: #007bff;
$color-red: #e63f3f;
