.tableHeadCell {
  padding: 15px !important;
  background-color: var(--mantine-color-cyan-filled) !important;
  color: var(--mantine-color-body);
}

.tableBodyCell {
  padding: 15px !important;
}

.printIconDisabled {
  opacity: 0.35;
  cursor: not-allowed;
  pointer-events: none;
}
