@import '../../styles/variables.scss';

.account-checkboxes-container {
  background-color: $color-white;
  border-radius: 4px;
  margin-bottom: 1vh;

  .MuiFormGroup-root {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .MuiFormControlLabel-root {
    max-width: 200px;
    margin-right: 30px;
  }
}
