.selectDropdown {
  z-index: 1000;
}

.modalTitle {
  font-size: 26px !important;
  font-weight: 600 !important;
  width: 100%;
  text-align: center;
}

.input:checked {
  background: linear-gradient(90deg, var(--mantine-color-violet-filled) 0%, var(--mantine-color-blue-filled) 100%) !important;
}
