.MuiTableCell-root.MuiTableCell-body,
.MuiTableCell-root.MuiTableCell-body {
  border: 1px solid rgba(224, 224, 224, 1) !important;
}

.MuiPaper-root-MuiTableContainer-root {
  position: relative;
}

.materials-table {
  .MuiTableCell-root.MuiTableCell-head {
    z-index: 10;
  }
}
