.tableHeadCell {
  padding: 15px 5px !important;
  background-color: var(--mantine-color-cyan-filled) !important;
  color: var(--mantine-color-body);
  text-align: center !important;
}

.tableBodyCell {
  padding: 5px !important;
}
